//@require '~vuepress-plugin-tabs/dist/themes/default.styl'
.tabs-component
  margin 2em 0

.tabs-component-tabs
  align-items stretch
  display flex
  justify-content flex-start
  margin-bottom 0
  border none
  padding-left 0
  overflow-y auto
  scroll-behavior smooth

.tabs-component-tab
  color var(--textMutedColor)
  font-size 14px
  list-style none
  border none
  border-radius 3px 3px 0 0
  margin-right .5em
  padding 0.3rem 0.7rem
  transition transform .3s ease
  background-color #00000011
  &:hover, &.is-active
    color var(--accentColor)
  &.is-active
    background-color var(--codeBgColor)
    z-index 2
    transform translateY(0)
  &.is-disabled *
    color #00000033
    cursor not-allowed !important

.tabs-component-tab-a
  align-items center
  color inherit
  display flex
  padding .25em .5em
  text-decoration none !important

.tabs-component-panels
  background-color var(--codeBgColor)
  border-bottom 1px solid #00000033
  border-radius 0 6px 6px 6px
  box-shadow 0 5px 5px #00000022
  padding 0

@media (max-width: 419px)

  .tabs-component-panel div[class*="language-"]
    margin-top 0

  .tabs-component-panels
    border-bottom none
    box-shadow none

.custom-block
  font-size 1rem

.custom-block-title
  display inline-block
  font-size 1.2rem
  letter-spacing inherit !important;
  padding-bottom 0.2rem
  border-bottom 1px solid #00000022
